.navbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 5rem !important;
  margin: 0 auto !important;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%) !important;
  position: fixed !important;
  z-index: 10 !important;
  width: 100% !important;
}
.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}
.nav-links a:hover {
  color: #80e296;
}

.logo img {
  padding-left: 2rem;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-right: 30px;
}
.menu li:hover {
  color: #2b5534;

  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
  list-style: none;
  height: 4rem;
  display: flex;
  align-items: center;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown-img {
  display: flex;
  width: 4rem;
}
.dropdown-img img {
  width: 16px;
  height: 16px;
  padding-left: 4px;
}

.dropdown {
  padding: 1em 0;
  position: absolute;
  display: none;
  top: 60px;
  z-index: 1;
  width: 1863%;
  right: -642px;
}

.services:hover .dropdown {
  display: block;
}

.column {
  background: white;
  float: left;
  width: 19% !important;
  padding: 4px;
  color: black;
  height: 80vh;
}
.column h3 {
  font-size: 18px;
  font-weight: 700;
}

.column a {
  float: none;
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 400;
}

.column1 {
  float: left;
  width: 18% !important;
  padding: 4px;
  background: black;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column1 img {
  padding-bottom: 25px;
  width: 10rem;
}

.column1 a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 6px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.column2 {
  float: left;
  width: 18% !important;
  padding: 4px;
  background: black;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
}
.column2 {
  font-size: 18px;
  font-weight: 700;
}

.column2 a {
  float: none;
  color: rgb(255, 255, 255);
  font-size: large;
  text-decoration: none;
  display: block;
  text-align: start;
  font-weight: 400;
}
.column2 p {
  margin: 0;
  padding: 0;
  font-size: small;
  font-weight: 300;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 5px;
  margin-bottom: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-btn {
  display: flex;
  align-items: center;
}

.contact-btn button {
  background: #80e296;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  max-width: fit-content;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  color: white;
}
