.featured {
  background: linear-gradient(180deg, #eef1ff 0, #e6f2ff 100%);
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  height: 80vh;
}
.featured h2 {
  text-transform: capitalize;
  font-weight: 600;
  margin: 20px;
  text-align: center;
}
Carousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.w-100 {
  height: 50vh !important;
}
